.body {
  margin: 0;
  padding: 0;
  bottom:1000px;
  font-family: Arial, Helvetica, sans-serif;
}
.topbar {
  font-family: arial;
  background-color: blue;
  color: red;
  width: 1550px;
  height: 60px;
}
li {
  display: inline;
  left: 200px;
  top: 20px;
  position: relative;
  font-size: 30px;
}
#bar{
  color: antiquewhite;
  word-spacing: 50px;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
}
#bar:hover {
  color: black;
}
form {
  position: absolute;
  text-align: center;
  background-color: tan;
  width: 500px;
  height: 200px;
  padding: 30px;
  top: 50%;
  left: 30%;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#submit {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#submit:hover {
  opacity: 0.5;
}
h2, h3{
  color: red;
  cursor: pointer;
}
h2:hover{
  color:#04aa6d;
}
.gender{
  display: inline;
  padding:10px;
  height: 40px;
}
#signup{
  height:500px;
  font-size: 20px;
}
label{
  color: blue;
  font-weight: bolder;
}
#ratio{
  color: red;
  font-size: 40px;
}
/* #title{
  sfont-size:28px; 
  line-height:1.5em;
} */
#span{
  font-family:libre baskerville,serif;
  font-size:40px;
  letter-spacing:0.05em;
  font-weight:bold;
}
#span2{
  font-family:libre baskerville,serif;
  font-size:40px;
  letter-spacing:0.05em;
  font-weight:bold;

}
h4{
  margin-left:400px;
  margin-top: -90px;

}
#phone{
  margin-left: 1100px;
  margin-top: -50px;
  color:black;
}
#email{
  font-size: 20px;
  

}
#png{
height: 30px;
width: 30px;
}
#content{
  display: grid;
}
#left{
  background-color: skyblue;
  width: 25%;
  float: left;
  margin-left:30px;
  padding: 50px;
  text-shadow: 0 1px 0;
  }	
#center{
  background-color: black;
    color: blue;
    width: 23%;
  float: left;
  padding: 50px;
  text-shadow: 0 1px 0;
}
#right{
  background-color: yellow;
  width: 25%;
  float: left;
  margin-right:10px;
  padding: 50px;
  text-shadow: 0 1px 0;
}
#content{
	display: flex;
column-gap: 30px;
}
#grid{
  color: red;
  text-transform: uppercase;
  
}
#logo{
  margin-left: 200px;
}
#scroll{
    padding: 50px;
    width: 100%;
    height:0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
} 

#scroll> h3{
    position: absolute;
    font-size: 30px;
    font-family: times new roman;
    white-space: nowrap;
    color:blue;
    animation: anim 30s linear infinite;
    font-weight: bold;
  margin-top: -20px;

}
@keyframes anim {

  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}
#homeimage
{
  margin-top: 100px;
}
#campus{
  margin-top: 100px;
  padding: 100px;
}
#section1{
float: left;
width: 25%;
}
#section2{
  float: left;
  width: 25%;
  }
  #section3{
    float: left; 
    width: 25%;
    }
 #rankbtn{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }   
 
